<h1> Donors </h1>
{{#each donors}}
    <div class="row">
        {{this.username}} {{this.password}}, {{this.email}}, {{this.address.street}}, {{this.address.city}}, {{this.address.state}}, {{this.address.zip}}
    </div>
{{/each}}

<h1> Charities </h1>
{{#each charities}}
    <div class="row">
        {{this.username}} {{this.password}}, {{this.email}}, {{this.address.street}}, {{this.address.city}}, {{this.address.state}}, {{this.address.zip}}
    </div>
{{/each}}
